<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albertovenegas.mightymanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserInterface.CustomerList"></activity>
        <activity android:name=".UserInterface.EmployeeDetails" />
        <activity android:name=".UserInterface.CreateCustomer" />
        <activity android:name=".UserInterface.EmployeeList" />
        <activity android:name=".UserInterface.CreateEmployee" />
        <activity android:name=".UserInterface.OpenTaskActivity" />
        <activity android:name=".UserInterface.AddTaskActivity" />
        <activity android:name=".UserInterface.MainAppScreen" />
        <activity android:name=".UserInterface.MainLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInterface.SignInPage" />
        <activity android:name=".UnusedFiles.MainScreen" />
    </application>

</manifest>